@charset "utf-8";

/* CSS Document */
body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	background-color: #333;
}

#header h1 {
	background-color: #333;
	text-align: center;
	color: white;
	margin: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#nav {
	background-color: #333;
	padding: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	display: flex;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;

}

#nav li {
	float: left;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;

}

#nav li a {
	color: white;
	text-align: center;
	text-decoration: none;
	vertical-align: text-top;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

#nav li a:hover,
a:active,
a:visited,
a:link {
	text-decoration: none;
}

#body1 {
	color: cornflowerblue;
}

#body1 a {
	text-decoration: none;
	color: lightblue;
}

#body1 h1 {
	text-align: center;

}

#body1 p {
	text-align: center;
	width: 100%;
	height: 100%;

}


#servertable table,
th,
td {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	/* border-collapse: collapse; */
	padding: 5px 5px;
	/* border: 2px solid black; */
	border-collapse: collapse;

	position: relative;
	border: 5px solid cornflowerblue;
	border-radius: 20px;
	line-height: 1.5;
	color: white;
}

#servertable table {
	width: 100%;
	table-layout: fixed;
}

#servertable th {
	color: deeppink
}

#servertable a:link,
a:visited,
a:hover,
a:active {
	color: green;
	text-decoration: none;

}

body {
	background: #1B1B24;
}

#error {
	color: red;
}

#uptime {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	font-size: 1em;
	line-height: 1.5;
	color: white;
	margin-top: 0px;
}

#uptime p {
	font-size: 120%;
}

#servername {

	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	font-size: 1em;
	line-height: 1.5;
	color: white;
}


#statusgreen {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	font-size: 1em;
	line-height: 1.5;
	color: forestgreen;
	display: inline;
}

#statusred {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	font-size: 1em;
	line-height: 1.5;
	color: red;
	display: inline;

}

#serverstatus {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	font-size: 1em;
	line-height: 1.5;
	color: white;
	display: inline;
}


#serverspage footer {
	position: relative;
	bottom: 0;
	width: 100%;

	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	color: white;
	display: inline;
	align-content: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;

	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	color: white;
	display: inline;
	align-content: center;
}